<div class="container">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class=" col-sm-8 col-md-9">

                    <?= $this->element('Page/ai-home/desarrolladoras'); ?>

                    <?= $this->element('Page/ai-home/agencias-destacadas'); ?>

                    <?= $this->element('Page/ai-home/propiedades'); ?>

                </div> 

                <?= $this->element('Page/ai-sidebar-search') ?>
            </div>
        </div>
    </div>
</div>