<?php $this->layout = 'login';?>
<div class="admin-sidebar-secondary">
            <div class="admin-sidebar-secondary-inner">
                <div class="admin-sidebar-secondary-inner-top">
                    <h1>America Inmoviliaria</h1>
                    
                    <?php 
                        
                    ?>
                </div><!-- /.admin-sidebar-secondary-inner-top -->

                <div class="admin-sidebar-secondary-inner-bottom">
                    <div class="admin-sidebar-footer">
                        <p>
                            &copy; <?=date('Y')?> <?= __('America Inmoviliaria todos los derechos reservados');?> <?=_('Creado por:');?> <a href="http://wamdigital.com/">wamdigital</a>
                        </p>
                    </div><!-- /.admin-landing-content-footer -->
                </div><!-- /.admin-sidebar-secondary-inner-bottom -->
            </div><!-- /.admin-sidebar-seconpdary-inner -->
        </div>