/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2016, 9:51:19 PM
    Author     : rleiva
*/

/*
Header Styles
*/  
.header-title{
    img{
        opacity: 1;
        z-index: 1;
        max-width: 270px;
        position: absolute;
        margin-top: -30px;
        background: white;
        border-radius: 0 0 7px 7px;
        -webkit-box-shadow: 3px 3px 7px rgba(0,0,0, .6);
        -moz-box-shadow: 3px 3px 7px rgba(0,0,0, .6);
        box-shadow: 3px 3px 7px rgba(0,0,0, .6);
    }
}

/*
Images border
*/
.nailthumb-container{margin: 0 auto}

/*
Users Register
*/
.register-form{padding-bottom: 29px;} 
.property-medium{
    position: relative;
    min-height: 165px;
    .property-medium-title{
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
    }
    .register-description{
        min-height: 72px;
        @media (max-width: 992px) {
            min-height: 48px;
        }
    }
    i{
        font-size: 60px; 
        &.fa-users{color: #0066B0}
        &.fa-university{color: #E96300}
        &.fa-key{color: #792E8B}
        &.fa-truck{color: #6A9A00}
    }
}
.register-checkboxes{
    padding-top: 10px;
    label{
        display: inline-block;
        font-weight: bold;
    }
    input[type=checkbox]{
        margin-right: 5px !important;
    }
}
/*
Users Dashboard
*/
.user-data{
    img{max-width: 200px !important; vertical-align: top}
    .data{
        display: inline-block;
        margin-left: 20px;
        list-style: none;
        li{
            label{
                display: inline-block;
                font-weight: bold;
                min-width: 120px
            }
        }
    }
    .btn{
        display: block;
        max-width: 200px;
        margin-top: 20px;
    }
}
#UserEditForm{
    img{max-width: 200px !important}
}
.fileinput-upload-button, .fileinput-remove-button{margin-right: 5px}
.property-table{
    .property-table-info{
        .pt-img{
            position: relative;
            max-width: 180px;
            img{
                max-width: 180px;
            }
        }
    }
    .info{
        max-width: 200px;
    }
}

/*
Desarrolladoras y Agencias
*/
.desarrolladoras-title, .agencias-title{
    background: map-get($color-primary, 600);
    padding-left: 10px;
    margin: 0;
    border-bottom: none;
    h2{
        a{color: white;}
        line-height: 30px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
#ai-desarrolladoras{
    .property-simple-image{
        max-width: 80px;
    }
    .owl-item{width: 114px !important}
}   
.agencias-list{
    padding: 10px;
    list-style: none;
    background: white;
    li{
        border: 1px solid;
        display: inline-block;
        margin: 7px 10px 0 0;
        vertical-align: middle;
    }
    .property-simple-image{
        background: none;
    }
}

/*
Sidebar Search
*/
#search-properties-sidebar{
    .widget-title{
        background: #3F51B5;
        line-height: 30px;
        padding-left: 10px;
        margin: 0;
        border-bottom: none;
        h2{
            color: white;
            line-height: 30px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

/*
Add Properties CSS
*/
.add-properties{
    .widget-title{
        background: map-get($color-primary, 600);
        line-height: 30px;
        padding-left: 10px;
        margin: 0;
        border-bottom: none;
        h2{
            color: white;
            line-height: 30px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    #map-canvas{height: 400px !important;}
    .box .close{margin: -13px;}
}

/*
HOME
*/
.properties-flags-home{
    margin-top: 2px;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    li{margin-bottom: 3px;}
    li:nth-child(even){
        background: map-get($color-secondary, 600);
    }
    li:nth-child(odd){
        background: map-get($color-primary, 600);
    }
}

/*
UTILS 
*/
.tab-right{margin-left: 20px}
#authMessage{display: inline-block}
.messi-titlebox{background: map-get($color-primary, 700)}
.messi-closebtn::before{color: map-get($color-primary, 700); top: 0 !important}
.error-message{color: #C62828;text-align: right}
#PropertyDescription, #ProjectDescription, #UserDescription{height: auto !important;}
.featured-icon{
    background: url(../img/ai/ai-p-featured.png);
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 55px;
    z-index: 10;
}
.superoffer-icon{
    background: url(../img/ai/ai-p-superoffer.png);
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 55px;
    z-index: 10;
}
.map-filter-horizontal{position: relative !important}
.cake-pagination{
    float: right;
    span{ 
        padding: 10px;
        background: map-get($color-secondary, 500);
        color: white !important;
        cursor: pointer;
        margin-left: 3px;
        &:hover{
            background: map-get($color-primary, 500);
        }
        a{
            color: white !important;
        }
    }
    .current{
        background: map-get($color-primary, 500);
    }
}
.m-top    { margin-top: 2px !important } 
.m-top1   { margin-top: 5px !important }
.m-top2   { margin-top: 10px !important }
.m-top3   { margin-top: 15px !important }
.m-top4   { margin-top: 20px !important }
.m-top5   { margin-top: 25px !important }
.m-top6   { margin-top: 30px !important }
.m-top7   { margin-top: 35px !important }
.m-top8   { margin-top: 40px !important }
.m-bottom    { margin-bottom: 2px !important }
.m-bottom1   { margin-bottom: 5px !important }
.m-bottom2   { margin-bottom: 10px !important }
.m-bottom3   { margin-bottom: 15px !important }
.m-bottom4   { margin-bottom: 20px !important }
.m-bottom5   { margin-bottom: 25px !important }
.m-bottom6   { margin-bottom: 30px !important }
.m-bottom7   { margin-bottom: 35px !important }
.m-bottom8   { margin-bottom: 40px !important }