<div class="container">
    <div class="content">
        <h1 class="page-header"><?=__("¿Quiénes somos?");?></h1>
        <?= $information['Information']['text']; ?>
    </div><!-- /.content -->
</div><!-- /.container -->