<div class="users form">
<?php echo $this->Form->create('User'); ?>
	<fieldset>
		<legend><?php echo __('Aipanel Add User'); ?></legend>
	<?php
		echo $this->Form->input('email');
		echo $this->Form->input('full_name');
		echo $this->Form->input('phone');
		echo $this->Form->input('password');
		echo $this->Form->input('type_users');
		echo $this->Form->input('description');
		echo $this->Form->input('outstanding');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Users'), array('action' => 'index')); ?></li>
	</ul>
</div>
